<main>
    <section class="about">
        <div class="about-content">
            <h2>About Brandeis Sports Complex</h2>
            <p>At Brandeis Sports Complex, we're more than just a place to work out – we're a community committed to your well-being. Our story is one of dedication, passion, and the pursuit of excellence.</p>
        </div>
        <div class="about-image">
            <img src="/images/mission.jpeg" alt="Brandeis Sports Complex Building">
        </div>
    </section>
    <section class="mission-values">
        <h3>Our Mission</h3>
        <p>The Brandeis Department of Athletics, Physical Education, and Recreation enriches the current and future lives of our community through sport, fitness and wellness offerings. We achieve our mission by:</p>
        <ul>
            <li>Providing opportunities for students to seek competitive excellence utilizing the values of discipline, leadership, resilience and respect</li>
            <li>Encouraging students to explore interests and habits leading to the development of an appreciation of lifelong health and fitness</li>
            <li>Complementing the educational mission of the University by emphasizing the development of a well-balanced lifestyle</li>
            <li>Developing an inclusive community in which all can learn, play and compete</li>
        </ul>
        <h3>Our Values</h3>
        <ul>
            <li><span>1.</span> <strong>Excellence:</strong> We are committed to delivering the highest quality in everything we do.</li>
            <li><span>2.</span> <strong>Inclusivity:</strong> We welcome all individuals, regardless of age, ability, or background.</li>
            <li><span>3.</span> <strong>Community:</strong> We believe in the power of a supportive and inspiring community.</li>
            <li><span>4.</span> <strong>Innovation:</strong> We continuously seek new ways to enhance your experience.</li>
        </ul>
    </section>
</main>