<main>
    <section class="facilities">
        <h2>Our World-Class Facilities</h2>
        <p>Explore our state-of-the-art facilities designed to meet all your fitness and recreation needs.</p>

        <!--fitness room info-->
        <div class="facility">
            <i class='fas fa-dumbbell' style='font-size:36px'></i>
            <h3>Fitness Center</h3>
            <p>Our well-equipped gym offers a wide range of cardio and strength training equipment.</p>
        </div>

        <!--swimming pool info-->
        <div class="facility">
            <i class="fa-solid fa-water-ladder" style='font-size:36px'></i>
            <h3>Swimming Pool</h3>
            <p>Dive into our spacious indoor pool for lap swimming or relaxation.</p>
        </div>

        <!--tennis court info-->
        <div class="facility">
            <i class="fa-solid fa-table-tennis-paddle-ball" style='font-size:36px'></i>
            <h3>Tennis Courts</h3>
            <p>Enjoy playing on our professional tennis courts with synthetic grass surfaces.</p>
        </div>

        <!--basketball court info-->
        <div class="facility">
            <i class='fas fa-baseball-ball' style='font-size:36px'></i>
            <h3>Basketball Courts</h3>
            <p>Challenge your skills on our well-maintained indoor basketball courts.</p>
        </div>
    </section>
</main>