    <!-- Main Content -->
<main>
        <h1 class="blue">We Are Proud</h1>
        <h2 class="blue">Students and Alumni of <b>Brandeis University</b></h2>
        </br>
        <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.</p>
</main>