
<main>
    <section class="programs">
        <h2>Discover Our Exciting Programs</h2>
        <p>Choose from a wide range of programs designed to help you achieve your fitness and wellness goals while having fun!</p>

        <!-- Fitness Classes -->
        <div class="program">
            <div class="program-image">
                <img src="images/fitness-center.jpg" alt="Fitness Classes">
            </div>
            <div class="program-details">
                <h3>Fitness Classes</h3>
                <p>Join our dynamic group fitness classes led by certified instructors to boost your energy and strength.</p>
                <h4 class="program-subtitle">Schedule</h4>
                <ul>
                    <li>Morning classes: Mon-Fri, 8:00 AM - 10:00 AM</li>
                    <li>Evening classes: Mon, Wed, Fri, 6:00 PM - 8:00 PM</li>
                </ul>
                <h4 class="program-subtitle">Pricing</h4>
                <p>Single class: $15</p>
                <p>Monthly pass: $80</p>
            </div>
        </div>

        <!-- Swim Lessons -->
        <div class="program">
            <div class="program-image">
                <img src="images/swimming-pool.jpeg" alt="Swim Lessons">
            </div>
            <div class="program-details">
                <h3>Swim Lessons</h3>
                <p>Dive into our swim lessons for all ages and skill levels, led by experienced coaches.</p>
                <h4 class="program-subtitle">Schedule</h4>
                <ul>
                    <li>Kids' lessons: Tue & Thu, 4:00 PM - 5:00 PM</li>
                    <li>Adult lessons: Sat, 10:00 AM - 11:00 AM</li>
                </ul>
                <h4 class="program-subtitle">Pricing</h4>
                <p>Individual lesson: $30</p>
                <p>Package of 5 lessons: $125</p>
            </div>
        </div>

        <!-- Youth Sports Leagues -->
        <div class="program">
            <div class="program-image">
                <img src="images/field.png" alt="Youth Sports Leagues">
            </div>
            <div class="program-details">
                <h3>Youth Sports Leagues</h3>
                <p>Enroll your kids in our youth sports leagues to build teamwork, sportsmanship, and lasting memories.</p>
                <h4 class="program-subtitle">Schedule</h4>
                <ul>
                    <li>Basketball League: Sat, 9:00 AM - 1:00 PM</li>
                    <li>Soccer League: Sun, 2:00 PM - 6:00 PM</li>
                </ul>
                <h4 class="program-subtitle">Pricing</h4>
                <p>Registration fee: $50</p>
            </div>
        </div>
    </section>
</main>

