/* Default styles for elements */
body, h1, h2, p, ul, li {
    margin: 0;
}

/* Basic page styling for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

/* Header styling */
header {
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: large;
}

/* Styling for the logo image within the header */
.logo img {
    max-height: 120px;
}

/* Styling for the title within the header */
.title {
    margin-left: 20px;
}

/* Navigation Bar styling */
nav {
    background-color: #003366;
    width: 100%;
}

/* Styling for the navigation bar */
.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styling for individual navigation items */
.navbar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: beige;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 140px;
    text-align: center;
}

/* Styling for navigation links */
.navbar a {
    text-decoration: none;
    color: black;
}

/* Main content styling */
main {
    flex-grow: 1; /* Grow to fill the available space */

    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 80px;
    margin-top: 30px;
}

/* Footer styling */
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #ccc;
    color: #333;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the footer information */
#footer-info {
    margin-left: 50px;
}

/* Styling for the credit text within the footer */
#credit {
    font-size: large;
}

/* Styling for social media icons within the footer */
.social-media {
    display: flex;
    margin-right: 50px;
    flex-wrap: wrap;
}

/* Styling for social media links within the footer */
.social-media a {
    color: #333;
    margin-left: 10px;
    font-size: 20px;
}

/* Styling for paragraphs within the main content */
main p {
    max-width: 600px;
    margin: 0;
}

/* Styling for Font Awesome icons */
.fa {
    padding: 6px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Styling for elements with class "blue" */
.blue {
    color: #003366;
}

/* Container styling for the form */
.data-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading style for the form */
.data-form h2 {
    color: #333;
    text-align: center;
}

/* Label styling for form inputs */
.data-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Styling for text inputs, textareas, and selects */
.data-form input,
.data-form textarea,
.data-form select {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styling for checkboxes */
.data-form input[type="checkbox"] {
    width: auto;
  }
  
  /* Styling for multi-select dropdowns */
  .data-form select[multiple] {
    height: 100px; /* Adjust the height based on your design */
  }

  /* Styling for the submit button */
.data-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Hover effect for the submit button */
  .data-form button:hover {
    background-color: #45a049;
  }

  /* Style for the table with the "styled-table" class */
.styled-table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px; 
  }
  
  /* Style for table header cells and data cells */
  .styled-table th, .styled-table td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
  }
  
  /* Style for table header cells */
  .styled-table th {
    background-color: #003366; 
    color: white; 
  }

  /* Container styles for the event details */
.details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles for the event table */
.event-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for table headers */
.event-table th {
    background-color: #003366;
    color: white;
    padding: 15px;
    text-align: left;
}

/* Styles for table cells */
.event-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

/* Styles for action buttons */
.actions {
    margin-top: 20px;
}

/* Common styles for buttons */
.button {
    background-color: #003366;
    color: white;
    padding-bottom: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

/* Hover effect for buttons */
.button:hover {
    background-color: #001f33;
}
  
/* Responsive Styles for screens up to 800px wide */
@media screen and (max-width: 800px) {
    /* Adjustments to header for smaller screens */
    header {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: medium;
    }

    /* Styling for the logo image on smaller screens */
    .logo img {
        max-height: 100px;
    }

    /* Styling for the title on smaller screens */
    .title {
        margin-left: 0;
        margin-top: 10px;
    }

    /* Adjustments to navigation bar for smaller screens */
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    /* Adjustments to individual navigation items on smaller screens */
    .navbar li {
        padding: 10px 20px;
        margin-right: 0;
        margin-bottom: 7px;
        margin-top: 7px;
        font-size: medium;
        width: 120px;
        text-align: center;
    }

    /* Styling adjustments for the main content on smaller screens */
    main {
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin-left: 60px;
        margin-top: 20px;
    }

    /* Adjustments to footer for smaller screens */
    footer {
        display: flex;
        background-color: #ccc;
        color: #333;
        text-align: center;
        padding-top: 2px;
        bottom: 0;
        width: 100%;
        padding: 7px 0;
        justify-content: space-between;
        align-items: center;
    }

    /* Styling adjustments for the footer information on smaller screens */
    #footer-info {
        margin-left: 15px;
    }

    /* Styling adjustments for the credit text on smaller screens */
    #credit {
        font-size: medium;
    }

    /* Styling adjustments for social media icons on smaller screens */
    .social-media {
        margin-right: 15px;
    }

    /* Styling adjustments for social media links on smaller screens */
    .social-media a {
        color: #333;
        margin-left: 7px;
        font-size: 17px;
    }

    /* Styling adjustments for paragraphs within the main content on smaller screens */
    main p {
        max-width: 450px;
        margin: 0;
    }

    /* Styling adjustments for Font Awesome icons on smaller screens */
    .fa {
        padding: 5px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
}

/* Responsive Styles for screens up to 450px wide */
@media screen and (max-width: 450px) {
    /* Adjustments to header for smaller screens */
    header {
        display: flex;
        font-size: small;
    }

    /* Styling adjustments for the logo image on smaller screens */
    .logo img {
        max-height: 80px;
    }

    /* Styling adjustments for the main content on smaller screens */
    main {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-left: 50px;
        margin-top: 10px;
    }

    /* Adjustments to footer for smaller screens */
    footer {
        display: flex;
        background-color: #ccc;
        color: #333;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px 0;
        justify-content: space-between;
        align-items: center;
    }

    /* Styling adjustments for the footer information on smaller screens */
    #footer-info {
        margin-left: 10px;
    }

    /* Styling adjustments for the credit text on smaller screens */
    #credit {
        font-size: small;
    }

    /* Styling adjustments for social media icons on smaller screens */
    .social-media {
        margin-right: 10px;
        align-items: center;
    }

    /* Styling adjustments for social media links on smaller screens */
    .social-media a {
        color: #333;
        margin-left: 4px;
        font-size: 15px;
    }

    /* Adjustments to navigation bar for smaller screens */
    .navbar {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    /* Styling adjustments for individual navigation items on smaller screens */
    .navbar li {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: small;
        margin-right: 5px;
        padding: 5px 10px;
        text-align: center;
        width: 100px;
    }
}
